.body{
    background-color: white;
    margin-top: 2vh;
    min-height: 90vh;
    border-radius: 20px;
}

.progressDiv{
    height: 40px;
    margin-top: 20px;
}
.step{
    font-size: 1.5em;
}
.step-out{
    color:black;
}

.buttonNext{
    font-size: 1.1em;
    margin-top: 20px;
}


.container-step{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
}
.container-body{
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
}
.btninfo{
    padding-right: 5%;
    padding-left: 5%;
    margin: 10px;
}
.card-image{
    max-height: 160px;
    max-width: 190px;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    background-color: #009688;
    color: white;
    font-size: 1.1em;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    background-color: #009688;
    color: white;
    font-size: 1.1em;
    right: 0;
}

.modalImage{
    max-width: 350px;
}
.container-s{
    margin-top: 10px;
    border-top: 1px solid #BDBDBD;
}