<div class="container">
  <div class="row align-items-center body">
      <div class="col">
        <div class="startText text-center">
            Você está em casa e decide assistir um filme.
            Assuma que você vai escolher o filme de acordo com sua preferência pessoal, independente se estiver qualquer pessoa com você.
            Para isso você acessou um sistema de filmes que irá te recomendar algumas opções. Desfrute-as!
            <br>

            <button class="btn btn-primary buttonNext" [routerLink]="['/two']">
              Começar
            </button>

        </div>
      </div>
  </div>
</div>