.body{
    background-color: white;
    margin-top: 5vh;
    min-height: 90vh;
    border-radius: 20px;
}
.startText{
    font-size: 1.5em;
}

.buttonNext{
    font-size: 1.1em;
    margin-top: 20px;
}